/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    
    background-color: #000;
    color: #fff;
}
.header{
    width:100%;
    height: 75vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/header-image.png);
    background-size: cover;
    font-size: 20px;
    background-position: center;
    padding:10px 50px;
    position:relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 18%;
}
nav .logo{
    width:150px;
    cursor: pointer;
}

nav button{
    border:0;
    outline:0;
    background-color: #db0001;
    color:#fff;
    padding:7px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;

}
.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border:1px solid #fff;
    padding:7px 10px;
    cursor: pointer;
}
.language-btn img{
    width:10px;
    margin-left: 10px ;
}
.header-content{
    width:70%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
 
}
.header-content h1{
    
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 30px;
   
}
.header-content h3{
    font-weight: 400;
    margin-bottom:30px
}
.email-signup{
    
    display: flex;
    align-items: center ;
    justify-content: center;
    margin-top:30px;
    gap:10px;
    
    
    
}
.email-signup input{
    background: transparent;
    border-radius: 4px;
    border:1px solid #484848;
    height:50px;
    width:350px;
    padding:10px;
    font-size: 22px;
    
}
.email-signup button{
    background: #db0001;
    border-radius: 4px;
    border:0;
    outline:0;
    color:#fff;
    height:50px;
    font-size: 16px;
    padding:10px;
    width:150px;
    padding:10px;
    font-size: 22px;

}
hr{
    width:100%;
    border:4px solid #343333;
}

/* Feature Section */
.feature-section{
    width:100%;
    font-size:22px;
    
}
.feature-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:10px 20%;
    gap:20px;
}
.text-info{
    flex:1;
}
.img-info{
    flex:1
}
.img-info img{
    display: block;
    width:90%;
    margin:auto;

}
.feature-section h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
/* Frequently Ask Questions */
.faq-section{
    width:100%;
    font-size:18px;
    text-align: center;
}

.faq-section h2{
    margin-top: 100px;
    font-size: 50px;
    font-weight: 500;
}
.accordion{
    
    margin: 10px auto;
    width:100%;
    padding:50px 20%;
    
}
.accordion li{
    list-style: none;
    width:100%;
    padding:5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding:20px;
    font-size: 18px;
    font-weight: 500;
    background:#303030 ;
    margin-bottom: 2px;
    cursor: pointer;
    position:relative;
    
}
label::after{
    content:'+';
    position:absolute;
    right:20px;
    font-size: 34px;
    transition: transform 0.5s;
}
input[type = "radio"]{
    display:none;
}
.accordion .content{
  background: #303030;
  padding:0 20px;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s,padding 0.5s;
}
.accordion input[type="radio"]:checked +label + .content{
    max-height:600px;
    padding:30px 20px;

}
.accordion input[type="radio"]:checked +label::after{
    transform: rotate(135deg);
}
small{
    font-size: 18px;
    
}
.faq-section form{
    margin-bottom: 70px;
}
.footer{
    padding:50px 18%;
    color:#fff;
}
.footer h2{
    font-size: 18px;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.col{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-bottom:20px
    
}
.col a{
    color:#fff;
    font-size: 14px;
}
.footer .language-btn{
    color:#fff;
    border-radius: 4px;
}
.footer h2{
    margin-top: 20px;
}

